Install Pandas and xlrd

In [1]:
import pandas as pd

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\z3066824\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

Upload CSV file and load data as Pandas dataframe

In [3]:
path = "C:\\Users\\z3066824\\OneDrive - UNSW\Documents\\"

In [4]:
file = "lending_club_loans.csv"

In [5]:
df = pd.read_csv(path+file)

C:\Users\z3066824\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,17,37,49,53,55,60,82,110) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Display top N rows of dataframe

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,0.1065,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,False,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,0.1527,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,False,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,0.1596,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,False,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,0.1349,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,False,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,0.1269,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,False,NaN,NaN,NaN,NaN

Display header called “Overall Information”

Display number of rows, list of columns and data types

In [14]:
Overall_Information = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 115 entries, id to total_il_high_credit_limit
dtypes: float64(87), object(28)
memory usage: 37.3+ MB

Identifying Missing Values

Display the number of missing values per column

In [12]:
df.isna().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
                              ...
tax_liens                       108
tot_hi_cred_lim               42538
total_bal_ex_mort             42538
total_bc_limit                42538
total_il_high_credit_limit    42538
Length: 115, dtype: int64

Display duplicated rows

In [15]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
42533    False
42534    False
42535    False
42536    False
42537    False
Length: 42538, dtype: bool

Duplicted rows = 0